.width{
    width: 82%;
    position: relative;
}

.latest{
    background-color: navy;
    position: absolute;
    height: 20px;
    font-size: 15px;
    padding: 6px;
    color: white;
}
    
.marquee{
    overflow: hidden;
    white-space: nowrap;
    font-size:15px;
    padding: 5px;
    border-top: 1px solid gray;
    height: 20px;
    -webkit-animation: marquee 50s linear infinite;
}

span:hover{
    cursor:pointer;
    text-decoration: underline;
}

.marquee img{
    height: 20px;
    width: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.marquee:hover{
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}

.box{
    border: 1px solid gray;
    background-color: lightgrey;
    position: absolute;
    padding: 10px;
}

.photo{
    position: relative;
    float:right;
    margin:5px;
    width:200px;
    height:200px;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.photo img{
    height: 200px;
    width: 200px;
}

.description{
   float: right;
   position: absolute;
   bottom: 1px;
   height: 0px;
   left: 1px;
   width: 200px;
   background-color:rgba(0,0,0,0.3);
   color: white;
   text-align:center;
   transition: 1s; /*Standard, IE 10*/
   -webkit-transition: 1s; /* For Chrome, Safari*/
   -moz-transition: 1s; /* For Firefox*/
   -o-transition:1s; /* For Opera*/
   color:transparent;
}

.photo:hover{
    cursor:pointer;
    }
    
.photo:hover div.description{
    padding-top:10px;
    padding-bottom:30px;   
    color:white;
    }

.date{
    font-size: 13px;
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.NewsH{
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}

.text{
    font-size: 17px;
    line-height: 1.4;
}

